.form-control {
  grid-column: 2 / 4;
}

.input-label {
  font-size: 18px;
}

input {
  outline: none;
  font-size: 18px;
  padding: 0.25rem 1rem;
}

input:focus {
  background-color: white;
  border: 2px solid #4b0082;
}

input.invalid,
input.invalid {
  border: 2px solid #c41e3a;
  background-color: #faa0a0;
}
